@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --font-family: 'Poppins', sans-serif;
  --background-color: #fafafa;

  --transition: all 400ms ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Poppins', sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

body {
  background: var(--background-color);
}

header {
  position: fixed;
  z-index: 999;
  width: 100%
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #23232e;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
  transition: .3s;
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.btn-contact {
  background-color: #bcb8b1;
  width: 120px;
  height: 30px;
  border-radius: 6px;
  margin-left: 32px;
  border: 0;
}

.btn-contact:hover {
  opacity: 4;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

main {
  display: block;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 20px;
}

section.module p {
  margin-bottom: 40px;
}


/*Efeito parallax1 */
section.module.parallax-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url('https://img.freepik.com/fotos-gratis/paineis-solares-no-telhado-de-uma-casa-de-familia_155027-1104.jpg?w=1800');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

section.module.parallax-1:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
  background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
  background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);;
}

.module.parallax-1 h1 {
  color: #fff;
  margin-left: 2rem;
  font-size: 30px;
  z-index: 50;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px 2px #24252a;
}

.module.parallax-1 button{
  width: 240px;
  height: 48px;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #fff;
  margin-left: 2rem;
  z-index: 50;
  margin-top: 1rem;
}

.module.parallax-1 button a {
  color: #000;
  font-size: 18px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 600;
}
/*Efeito parallax1 */


/*Efeito parallax2 */
section.module.parallax-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url('https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

section.module.parallax-2:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
  background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
  background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);;
}

.module.parallax-2 button{
  width: 240px;
  height: 48px;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #fff;
  margin-left: 2rem;
  z-index: 50;
  margin-top: 1rem;
}

.module.parallax-2 button a {
  color: #000;
  font-size: 18px;
  width: 200px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 600;
}
/*Efeito parallax 2*/

/* Title estilos */
.container-sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.sub-title {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}
/* Title estilos */

/* styles links from page about */
.section-about-first {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-about-second {
  display: flex;
  gap: 3rem;
  margin-bottom: 3rem;
}

.section-about-third {
  display: flex;
  flex-direction: column;
}

.section-about-third img {
  width: 400px;
  height: 250px
}

.section-about-third a {
  color: #000;
  text-align: center;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  font-weight: bold;
}

.section-about-third p {
  
}
/* styles links from page about */

/* styles for reveal */
.reveal {
  visibility: hidden;
}
/* styles for reveal */

/* Section produtos */
.second-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.second-container-material {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.section-material {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-material img {
  width: 389px;
  height: 275px;
  margin-bottom: 1rem;
}

.section-material p {
  font-size: 24px;
  font-weight: bold;
}
/* Section produtos */

/* Section beneficios */
.container-benficios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

.container-texts {
  max-width: 900px;
}

.container-texts p {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
/* Section beneficios */


/*Efeito parallax3 */
section.module.parallax-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh !important;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url('https://media.gettyimages.com/photos/new-roof-installation-picture-id823328086?s=2048x2048');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

section.module.parallax-3:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
  background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
  background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);;
}
/*Efeito parallax3 */

/* Section services */
.container-services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 7rem;
}

.container-section-services {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin-top: 4rem;
}

.container-section-services img {
  width: 340px;
  height: 200px;
  border-radius: 1rem;
}

.container-section-services a {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container-section-services span {
  text-align: center;
  color: #fff;
}
/* Section services */


/* Footer Styling */
footer {
  width: 100%;
  height: 300px;
  background-color: #272727;
  margin-top: 4rem;
}

.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.section-title h1 {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
}

.section-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFF;
  margin-top: 4rem;
}

.container-manager p {
  text-align: center;
  color: #fff;
  margin-top: 4rem;
}

.social-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-section p {
  color: #fff;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons i {
  font-size: 20px;
  margin-top: 2rem;
}
/* Footer Styling */

@media screen and (max-width: 600px){
  body {
    overflow-x: hidden;
  }
  
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }

  .container-material {
    display: none;
  }

  .section-about-first {
    display: none;
  }

  .container-services {
    display: none;
  }

  .container-texts {
    width: 100%;
  }

  .section-text {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .container-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1024px){
  body {
    overflow-x: hidden;
  }
  
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}
